/* Layout for MainLayout */
.app-layout {
  min-height: 100%;
  width: 100%;
  /* background-color: white; */
}

.main-content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 72px);
  background-color: white;
}

.page-container {
  flex: 1;
  padding: 1rem;
  background-color: rgba(246, 246, 246, 1);
  /* min-height: 100vh; */
}
@media (max-width: 720px) {
  .page-container {
    background-color: white;
    height:70%;
    padding:0px;
  }
  .app-layout {
    height: 70%;
  }
  .main-content {
    margin-top:10px;
    background-color: white;
  }
}
