/* Layout */
#main-container {
  display: flex;
  height: fit-content;
  min-height: calc(100vh - 72px);
  /* max-height:15000px; */
}

/* Content */
.content {
  width: 100%;
  /* padding: 20px; */
  height: 100%;
  padding-bottom: 0px;
}

#headingInContent {
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0%;
    margin: 22px 0;
    font-family: outfit, sans-serif;
}
@media (max-width: 720px) {
   #headingInContent {
    margin:0px 0;
   }
}